{% load static %}
<nav class="bg-white shadow-md p-4 flex justify-between items-center">
    <a href="{% url 'home' %}" class="text-lg font-bold text-indigo-600">EventHub</a>
    <div class="flex items-center space-x-6">
        <a href="{% url 'home' %}" class="font-semibold text-indigo-400 hover:text-indigo-700">Home</a>
        <a href="{% url 'view_events' %}" class="font-semibold text-indigo-400 hover:text-indigo-700">Events</a>
        <a href="{% url 'dashboard' %}" class="font-semibold text-indigo-400 hover:text-indigo-700">Dashboard</a>
        <a href="{% url 'create_event' %}" class="font-semibold text-indigo-400 hover:text-indigo-700">Create Event</a>
            <form method="post" action="{% url 'sign-out' %}">
                {% csrf_token %}
                <button type="submit" class="block w-full text-left border border-indigo-500 px-4 py-2 text-sm text-indigo-400 hover:text-indigo-700 hover:bg-indigo-200">Logout</button>
            </form>
    </div>
</nav>