{% extends "base.html" %}
<title>{% block title %}Create Event{% endblock title %}</title>
{% block content %}
<section class="p-8 max-w-3xl mx-auto">
        <h3 class="text-2xl font-bold">Create New Event</h3>

        <!-- Success Message -->
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="px-4 py-2 text-white font-semibold rounded-lg flex justify-between items-center
                                {% if message.tags == 'success' %} bg-green-500 {% elif message.tags == 'error' %} bg-red-500 {% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="bg-white p-6 rounded-lg shadow-md mt-4">
            <form method="POST" class="space-y-4">
                {% csrf_token %}

                <div>
                    <label class="block font-semibold text-indigo-500">Event Name:</label>
                    {{ event_form.name }}
                </div>

                <div>
                    <label class="block font-semibold text-indigo-500">Description:</label>
                    {{ event_form.description }}
                </div>

                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label class="block font-semibold text-indigo-500">Date:</label>
                        {{ event_form.date }}
                    </div>
                    <div>
                        <label class="block font-semibold text-indigo-500">Time:</label>
                        {{ event_form.time }}
                    </div>
                </div>

                <div>
                    <label class="block font-semibold text-indigo-500">Location:</label>
                    {{ event_form.location }}
                </div>

                <div>
                    <label class="block font-semibold text-indigo-500">Participants:</label>
                    <div class="flex flex-wrap space-y-2">
                        {{ event_form.participant }}
                    </div>
                </div>

                <div class="text-center mt-4">
                    <button class="bg-indigo-600 text-white px-6 py-2 rounded-lg font-bold shadow hover:bg-indigo-700">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
    

